{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href={% static 'entreprise_app/css/globals2.css' %} />
    <link rel="stylesheet" href={% static 'entreprise_app/css/styleguide2.css' %} />
    <link rel="stylesheet" href={% static 'entreprise_app/css/style2.css' %} />
  </head>
  <body>
    <div class="admin-dashboard">
      <div class="div">
        <div class="welcome-back-to-rhom">Bienvenue a votre application</div>
        <div class="hi-katie-pena">Bonjour Safia Tirar</div>
        <div class="nav-bar">
          <div class="overlap">
            <div class="line"></div>
            <div class="overlap-group">
              <div class="katie-pena">Safia Tirar</div>
              <div class="user">
                <div class="admin">Administrateur</div>
                <img class="image" src="img/image-2.png" />
              </div>
            </div>
            <div class="icon">
              <div class="overlap-group-2">
                <div class="div-wrapper">
                  <div class="ic-notifications"><img class="shape" src="img/shape-5.svg" /></div>
                </div>
                <div class="shape-2"></div>
              </div>
            </div>
            <div class="search">
              <div class="text-wrapper">Recherche…</div>
              <div class="ic-search"><img class="img" src="img/shape.svg" /></div>
            </div>
          </div>
          <div class="ic-help"><img class="shape-3" src="img/shape-6.svg" /></div>
        </div>
        <img class="sign-in" src="img/sign-in.png" />
        <img class="forgot-password" src="img/forgot-password.png" />
        <img class="new-password" src="img/new-password.png" />
        <img class="sign-in-filled" src="img/sign-in-filled.png" />
        <img class="sign-up-filled" src="img/sign-up-filled.png" />
        <img class="sign-up" src="img/sign-up.png" />
        <div class="card">
          <div class="overlap-2">
            <div class="text">
              <div class="see-more">Voir plus</div>
              <img class="ic-chevron-right" src="img/ic-chevron-right-3.png" />
            </div>
            <div class="list">
              <div class="rhombus-search">Marrakech</div>
              <div class="text-wrapper-2">50.0%</div>
              <div class="base"></div>
            </div>
            <div class="list-2">
              <div class="text-wrapper-3">Casablanca</div>
              <div class="text-wrapper-4">21.5%</div>
              <div class="base-2"></div>
            </div>
            <div class="list-3">
              <div class="text-wrapper-3">Rabat</div>
              <div class="text-wrapper-5">18.5%</div>
              <div class="base-3"></div>
            </div>
            <div class="list-4">
              <div class="text-wrapper-3">Tanger</div>
              <div class="text-wrapper-6">11.9%</div>
              <div class="base-4"></div>
            </div>
            <div class="list-5">
              <div class="text-wrapper-3">Fes</div>
              <div class="text-wrapper-7">5.1%</div>
              <div class="base-5"></div>
            </div>
            <div class="chart">
              <div class="overlap-group-3">
                <div class="oval"></div>
                <img class="path" src="img/path-3.svg" />
                <img class="path-2" src="img/path-2.svg" />
                <img class="shape-4" src="img/shape-3.svg" />
                <img class="path-3" src="img/path.svg" />
                <div class="traffic-sources">villes</div>
              </div>
            </div>
            <div class="traffic-source-types">Entreprise par ville</div>
          </div>
        </div>
        <div class="overlap-3">
          <div class="overlap-wrapper">
            <div class="overlap-4">
              <div class="legend">
                <div class="tag">
                  <div class="average-profits">Immatriculations</div>
                  <div class="shape-5"></div>
                </div>
              </div>
              <div class="chart-2">
                <div class="div-2">
                  <div class="div-2">
                    <div class="amount">
                      <div class="element">200</div>
                      <div class="line-2"></div>
                    </div>
                    <div class="amount-2">
                      <div class="element-2">150</div>
                      <div class="line-2"></div>
                    </div>
                    <div class="amount-3">
                      <div class="element-3">100</div>
                      <div class="line-2"></div>
                    </div>
                    <div class="amount-4">
                      <div class="text-wrapper-8">0</div>
                      <div class="line-3"></div>
                    </div>
                    <div class="amount-5">
                      <div class="overlap-group-4">
                        <div class="line-4"></div>
                        <div class="shape-6"></div>
                      </div>
                      <div class="element-4">50</div>
                    </div>
                  </div>
                  <div class="overlap-group-wrapper">
                    <div class="overlap-5">
                      <img class="chart-3" src="img/chart.svg" />
                      <div class="shape-7"></div>
                      <div class="shape-8"></div>
                      <div class="shape-9"></div>
                      <div class="shape-10"></div>
                      <div class="shape-11"></div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="text-wrapper-9">Apr</div>
                  <div class="text-wrapper-10">May</div>
                  <div class="text-wrapper-11">Jun</div>
                  <div class="text-wrapper-12">Jan</div>
                  <div class="text-wrapper-13">Feb</div>
                  <div class="text-wrapper-14">Mar</div>
                </div>
              </div>
              <div class="average-sales-analys">Évolution des Immatriculations</div>
            </div>
          </div>
          <div class="overlap-6">
            <div class="card-2">
              <div class="overlap-7">
                <div class="chart-4">
                  <div class="overlap-group-5">
                    <div class="div-2">
                      <div class="amount">
                        <div class="element">200</div>
                        <div class="line-2"></div>
                      </div>
                      <div class="amount-2">
                        <div class="element-2">150</div>
                        <div class="line-2"></div>
                      </div>
                      <div class="amount-3">
                        <div class="element-3">100</div>
                        <div class="line-2"></div>
                      </div>
                      <div class="amount-4">
                        <div class="text-wrapper-8">0</div>
                        <div class="line-3"></div>
                      </div>
                      <div class="amount-5">
                        <div class="line-2"></div>
                        <div class="element-4">50</div>
                      </div>
                    </div>
                    <div class="frame-wrapper">
                      <div class="frame">
                        <div class="group">
                          <div class="jan">SARL</div>
                          <div class="shape-12"></div>
                        </div>
                        <div class="group-2">
                          <div class="jan-2">SA</div>
                          <div class="item-2"></div>
                        </div>
                        <div class="group-3">
                          <div class="jan-3">SNC</div>
                          <div class="item-3"></div>
                        </div>
                        <div class="group-4">
                          <div class="jan-4">SAS</div>
                          <div class="item-4"></div>
                        </div>
                        <div class="group-wrapper">
                          <div class="group-5">
                            <div class="jan-5">PM</div>
                            <div class="shape-13"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="average-sales-analys">Forme Juridique</div>
                <div class="group-6">
                  <div class="average-sales">Nombre</div>
                  <div class="shape-14"></div>
                </div>
              </div>
              <div class="legend-2"></div>
            </div>
            <div class="card-3">
              <div class="overlap-8">
                <img class="ic-more-vert" src="img/ic-more-vert.png" />
                <div class="top-performance">Liste des entreprises</div>
                <div class="list-6">
                  <div class="list-7">
                    <div class="group-7">
                      <div class="text-wrapper-15">Agriculture Sud Sahara</div>
                      <div class="text-wrapper-16">Agriculture</div>
                      <div class="text-wrapper-17">Tarfaya</div>
                      <div class="text-wrapper-18">SCS</div>
                      <div class="text-wrapper-19">Fatima Zahra</div>
                    </div>
                  </div>
                  <div class="list-8">
                    <div class="overlap-group-6">
                      <div class="rate"><div class="shape-15"></div></div>
                      <div class="group-8">
                        <div class="text-wrapper-20">Artisana Tarfaya</div>
                        <div class="text-wrapper-16">Artisanat</div>
                        <div class="text-wrapper-17">Tarfaya</div>
                        <div class="text-wrapper-18">SCS</div>
                        <div class="text-wrapper-19">Fatima Zahra</div>
                      </div>
                    </div>
                  </div>
                  <div class="list-9">
                    <div class="overlap-9">
                      <div class="shape-wrapper"><div class="shape-15"></div></div>
                      <div class="group-9">
                        <div class="text-wrapper-21">Boujdour Construction</div>
                        <div class="text-wrapper-22">Construction</div>
                        <div class="text-wrapper-23">Boujdour</div>
                        <div class="text-wrapper-24">SARL</div>
                        <div class="text-wrapper-25">Karim Rami</div>
                      </div>
                    </div>
                  </div>
                  <div class="list-10">
                    <div class="overlap-10">
                      <div class="rate"><div class="shape-15"></div></div>
                      <div class="group-10">
                        <div class="text-wrapper-26">Commerce General Laayoune</div>
                        <div class="text-wrapper-27">Commerce</div>
                        <div class="text-wrapper-28">Laayoune</div>
                        <div class="text-wrapper-29">SNC</div>
                        <div class="text-wrapper-30">Salim Moujahid</div>
                      </div>
                    </div>
                  </div>
                  <div class="title">
                    <div class="overlap-11">
                      <div class="base-6"></div>
                      <div class="line-5"></div>
                      <div class="text-2">
                        <div class="text-wrapper-31">Nom d e l’entreprise</div>
                        <div class="text-wrapper-31">Secteur</div>
                        <div class="text-wrapper-31">Ville</div>
                        <div class="text-wrapper-31">Forme juridique</div>
                        <div class="text-wrapper-31">Contact</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-4">
          <div class="overlap-12">
            <div class="legend-3">
              <div class="tag-2">
                <div class="text-wrapper-32">commerce</div>
                <div class="shape-16"></div>
              </div>
              <div class="tag-3">
                <div class="shape-17"></div>
                <div class="element-send">industrie</div>
              </div>
              <div class="tag-4">
                <div class="text-wrapper-32">services</div>
                <div class="shape-18"></div>
              </div>
            </div>
            <img class="chart-5" src="img/chart.png" />
            <div class="march">March 2025</div>
            <div class="email-sent-total">Répartition par secteur</div>
          </div>
          <div class="img-wrapper"><img class="shape-19" src="img/shape-4.svg" /></div>
        </div>
        <div class="pagination">
          <div class="pagination-previous">
            <img class="img-2" src="img/arrow-left.svg" />
            <div class="previous">Avant</div>
          </div>
          <div class="pagination-list">
            <div class="pagination-page"><div class="text-wrapper-33">1</div></div>
            <div class="element-wrapper"><div class="text-wrapper-34">2</div></div>
            <div class="element-wrapper"><div class="text-wrapper-34">3</div></div>
            <div class="pagination-gap"><div class="text-wrapper-35">...</div></div>
            <div class="element-wrapper"><div class="text-wrapper-34">67</div></div>
            <div class="element-wrapper"><div class="text-wrapper-34">68</div></div>
          </div>
          <div class="pagination-next">
            <div class="text-wrapper-34">Suivant</div>
            <img class="img-2" src="img/arrow-right.svg" />
          </div>
        </div>
        <div class="data">
          <div class="overlap-13">
            <div class="graph">
              <div class="overlap-group-7">
                <div class="graph-2">
                  <div class="text-wrapper-36">2021 - 2,99k</div>
                  <div class="shape-20"></div>
                </div>
                <div class="graph-3">
                  <div class="text-wrapper-37">2021 - 83k</div>
                  <div class="shape-21"></div>
                </div>
                <div class="line-6"></div>
              </div>
            </div>
            <div class="profit-or-loss">Répartition par type</div>
            <div class="text-wrapper-38">2,990</div>
            <div class="no-transactions-impo">total des entreprises</div>
            <div class="frame-2">
              <div class="group-11">
                <div class="tag-5">
                  <div class="element-spam">Personne morale</div>
                  <div class="shape-22"></div>
                </div>
                <div class="tag-6">
                  <div class="element-send-2">Entreprise</div>
                  <div class="shape-23"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="button">
          <div class="add-dashlet-wrapper"><div class="add-dashlet">+ Entreprise</div></div>
        </button>
        <div class="sidebar">
          <div class="overlap-14">
            <img class="line-7" src="img/line.svg" />
            <div class="menus">
              <a href="index.html"
                ><div class="menu">
                  <div class="item-5">
                    <div class="overview">Tableau de bord</div>
                    <div class="ic-dashboard"><img class="shape-24" src="img/image.svg" /></div>
                  </div></div
              ></a>
              <div class="menu-2">
                <img class="ic-chevron-right-2" src="img/image.png" />
                <div class="business">Client</div>
                <div class="ic-store"></div>
              </div>
              <div class="menu-3">
                <img class="ic-chevron-right-2" src="img/ic-chevron-right.png" />
                <div class="text-wrapper-39">Personne morale</div>
                <div class="paid"></div>
              </div>
              <div class="menu-4">
                <img class="ic-chevron-right-2" src="img/ic-chevron-right-2.png" />
                <div class="text-wrapper-39">Entreprise</div>
                <div class="ic-payment"></div>
              </div>
            </div>
            <div class="logo">
              <div class="div-wrapper">
                <div class="overlap-group-8">
                  <div class="shape-25"></div>
                  <div class="shape-26"></div>
                  <div class="shape-27"></div>
                </div>
              </div>
              <div class="rhombus">X</div>
            </div>
          </div>
          <div class="ic-menu"><img class="shape-28" src="img/shape-2.svg" /></div>
        </div>
      </div>
    </div>
  </body>
</html>
