{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href={% static 'entreprise_app/css/globals.css' %} />
    <link rel="stylesheet" href={% static 'entreprise_app/css/styleguide.css' %} />
    <link rel="stylesheet" href={% static 'entreprise_app/css/style.css' %} />
  </head>
  <body>
    <div class="creationdashboard">
      <div class="div">
        <div class="nav-bar">
          <div class="overlap">
            <div class="line"></div>
            <div class="overlap-group">
              <div class="katie-pena">Safia Tirar</div>
              <div class="user">
                <div class="admin">Administrateur</div>
                <img class="image" src="img/image-2.png" />
              </div>
            </div>
            <div class="icon">
              <div class="overlap-group-2">
                <div class="div-wrapper">
                  <div class="ic-notifications"><img class="shape" src="img/shape-6.svg" /></div>
                </div>
                <div class="shape-2"></div>
              </div>
            </div>
            <div class="search">
              <div class="ic-search"><img class="img" src="img/shape-3.svg" /></div>
            </div>
          </div>
          <div class="ic-help"><img class="shape-3" src="img/shape-4.svg" /></div>
        </div>
        <img class="sign-in" src="img/sign-in.png" />
        <img class="forgot-password" src="img/forgot-password.png" />
        <img class="new-password" src="img/new-password.png" />
        <img class="sign-in-filled" src="img/sign-in-filled.png" />
        <img class="sign-up-filled" src="img/sign-up-filled.png" />
        <img class="sign-up" src="img/sign-up.png" />
        <div class="card">
          <div class="overlap-2">
            <div class="frame">
              <div class="form">
                <div class="type-your-product-na-wrapper">
                  <p class="type-your-product-na">Tapez le nom de votre entreprise</p>
                </div>
                <div class="product-name">Nom d‘entreprise</div>
              </div>
              <div class="form-2">
                <div class="text-wrapper">Tribunal</div>
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-3">
                    <img class="ic-down" src="img/ic-down-11.png" />
                    <div class="select-a-supplier">Tapez le tribunal</div>
                  </div>
                </div>
              </div>
              <div class="form-2">
                <div class="text-wrapper">ICE</div>
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-3">
                    <img class="ic-down-2" src="img/ic-down-8.png" />
                    <div class="select-a-type">Tapez le ICE</div>
                  </div>
                </div>
              </div>
              <div class="form">
                <div class="overlap-3">
                  <div class="text-wrapper">Denomination</div>
                  <div class="text-wrapper">Denomination</div>
                </div>
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-4">
                    <div class="base"></div>
                    <div class="base-2"></div>
                    <img class="ic-down-3" src="img/ic-down-6.png" />
                    <div class="select-a-supplier-2">Tapez le Denomination</div>
                  </div>
                </div>
              </div>
              <div class="form-2">
                <div class="text-wrapper">Forme juridique</div>
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-4">
                    <div class="base"></div>
                    <div class="base-2"></div>
                    <img class="ic-down-3" src="img/ic-down-2.png" />
                    <div class="select-a-supplier-2">Tapez la forme juridique</div>
                  </div>
                </div>
              </div>
              <div class="form-2">
                <div class="text-wrapper">SIGE</div>
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-4">
                    <div class="base"></div>
                    <div class="base-2"></div>
                    <img class="ic-down-3" src="img/ic-down.png" />
                    <div class="select-a-supplier-2">Tapez le SIGE</div>
                  </div>
                </div>
              </div>
              <div class="form-2">
                <div class="text-wrapper">Capital</div>
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-4">
                    <div class="base"></div>
                    <div class="base-2"></div>
                    <img class="ic-down-3" src="img/image.png" />
                    <div class="select-a-supplier-2">Tapez le Capital</div>
                  </div>
                </div>
              </div>
              <div class="form-2">
                <div class="text-wrapper">Date d’immatriculation</div>
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-4">
                    <div class="base"></div>
                    <div class="base-2"></div>
                    <img class="ic-down-3" src="img/ic-down-10.png" />
                    <div class="select-a-supplier-2">Tapez la date d’immatriculation</div>
                  </div>
                </div>
              </div>
              <div class="form-2">
                <div class="text-wrapper">Date de radiation</div>
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-4">
                    <div class="base"></div>
                    <div class="base-2"></div>
                    <img class="ic-down-3" src="img/ic-down-4.png" />
                    <p class="select-a-supplier-2">Tapez la date de radiation</p>
                  </div>
                </div>
              </div>
              <div class="form-2">
                <div class="text-wrapper">Adresse</div>
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-4">
                    <div class="base"></div>
                    <div class="base-2"></div>
                    <img class="ic-down-3" src="img/ic-down-3.png" />
                    <div class="select-a-supplier-2">Tapez le Adresse</div>
                  </div>
                </div>
              </div>
              <div class="form-2">
                <div class="text-wrapper">ville</div>
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-4">
                    <div class="base"></div>
                    <div class="base-2"></div>
                    <img class="ic-down-3" src="img/ic-down-9.png" />
                    <div class="select-a-supplier-2">Tapez la ville</div>
                  </div>
                </div>
              </div>
              <div class="form-2">
                <div class="text-wrapper">Activité</div>
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-4">
                    <div class="base"></div>
                    <div class="base-2"></div>
                    <img class="ic-down-3" src="img/ic-down-7.png" />
                    <div class="select-a-supplier-2">Tapez l’activité</div>
                  </div>
                </div>
              </div>
              <div class="form-2">
                <div class="brand">Code d’activité</div>
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-4">
                    <div class="base"></div>
                    <div class="base-2"></div>
                    <img class="ic-down-3" src="img/ic-down-5.png" />
                    <div class="select-a-supplier-2">Tapez le code d’activité</div>
                  </div>
                </div>
              </div>
              <div class="form-2">
                <div class="text-wrapper">Flag siege principal</div>
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-4">
                    <div class="base"></div>
                    <div class="base-2"></div>
                    <img class="ic-down-3" src="img/ic-down-12.png" />
                    <p class="select-a-supplier-2">Tapez le flag siege principal</p>
                  </div>
                </div>
              </div>
              <div class="form-3">
                <div class="overlap-4">
                  <div class="line-2"></div>
                  <div class="tools">
                    <div class="headline">
                      <div class="text-wrapper-2">Headline 1</div>
                      <img class="ic-keyboard-arrow" src="img/ic-keyboard-arrow-down.png" />
                    </div>
                    <div class="ic-format-list"><img class="shape-4" src="img/shape-9.svg" /></div>
                    <div class="ic-bullet-list"><img class="combined-shape" src="img/combined-shape.svg" /></div>
                    <div class="shape-wrapper"><img class="shape-5" src="img/shape-2.svg" /></div>
                    <div class="ic-tag"><img class="shape-6" src="img/image.svg" /></div>
                    <div class="ic-link"><img class="shape-7" src="img/shape-10.svg" /></div>
                    <div class="ic-underline"><img class="shape-8" src="img/shape-5.svg" /></div>
                    <img class="ic-italic" src="img/ic-italic.png" />
                    <div class="ic-strikethrough"><img class="shape-9" src="img/shape.svg" /></div>
                    <div class="ic-bold"><img class="shape-10" src="img/shape-11.svg" /></div>
                  </div>
                  <div class="text"><div class="describe-your-produc">Decrire l’entreprise</div></div>
                </div>
                <div class="text-wrapper">Description de l’entreprise</div>
              </div>
              <button class="button">
                <div class="overlap-5">
                  <div class="base-3"></div>
                  <div class="create-product-wrapper"><div class="create-product">Envoyer</div></div>
                </div>
              </button>
              <button class="button-2">
                <div class="text-2"><div class="create-product-2">Envoyer</div></div>
              </button>
            </div>
            <img class="calendar" src="img/calendar-4.png" />
            <img class="calendar-2" src="img/calendar-5.png" />
          </div>
          <div class="product-details">Ajouter entreprise</div>
          <p class="please-provide-detai">Veuillez fournir des détails sur cette entreprise.</p>
        </div>
        <div class="sidebar">
          <div class="overlap-6">
            <img class="line-3" src="img/line.svg" />
            <div class="menus">
              <div class="menu">
                <div class="item">
                  <div class="overview">Tableau de bord</div>
                  <div class="ic-dashboard"><img class="shape-11" src="img/shape-8.svg" /></div>
                </div>
              </div>
              <div class="menu-2">
                <img class="ic-chevron-right" src="img/ic-chevron-right-3.png" />
                <div class="business">Client</div>
                <div class="ic-store"></div>
              </div>
              <div class="menu-3">
                <img class="ic-chevron-right" src="img/ic-chevron-right-2.png" />
                <div class="sales">Personne morale</div>
                <div class="paid"></div>
              </div>
              <div class="menu-4">
                <img class="ic-chevron-right" src="img/ic-chevron-right.png" />
                <div class="transactions">Entreprise</div>
                <div class="ic-payment"></div>
              </div>
            </div>
            <div class="logo">
              <div class="div-wrapper">
                <div class="overlap-group-5">
                  <div class="shape-12"></div>
                  <div class="shape-13"></div>
                  <div class="shape-14"></div>
                </div>
              </div>
              <div class="rhombus">X</div>
            </div>
          </div>
          <div class="ic-menu"><img class="shape-15" src="img/shape-7.svg" /></div>
        </div>
      </div>
    </div>
  </body>
</html>
