.admin-dashboard {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.admin-dashboard .div {
  background-color: #f9f9f9;
  overflow: hidden;
  width: 1920px;
  height: 1811px;
  position: relative;
}

.admin-dashboard .welcome-back-to-rhom {
  position: absolute;
  height: 17px;
  top: 158px;
  left: 154px;
  font-family: var(--headline-h5-regular-font-family);
  font-weight: var(--headline-h5-regular-font-weight);
  color: var(--dark3-dark);
  font-size: var(--headline-h5-regular-font-size);
  letter-spacing: var(--headline-h5-regular-letter-spacing);
  line-height: var(--headline-h5-regular-line-height);
  font-style: var(--headline-h5-regular-font-style);
}

.admin-dashboard .hi-katie-pena {
  position: absolute;
  top: 104px;
  left: 154px;
  font-family: var(--headline-h1-font-family);
  font-weight: var(--headline-h1-font-weight);
  color: var(--dark1-dark);
  font-size: var(--headline-h1-font-size);
  letter-spacing: var(--headline-h1-letter-spacing);
  line-height: var(--headline-h1-line-height);
  white-space: nowrap;
  font-style: var(--headline-h1-font-style);
}

.admin-dashboard .div-2 {
  position: absolute;
  width: 1922px;
  height: 72px;
  top: 0;
  left: 0;
}

.admin-dashboard .overlap {
  position: absolute;
  width: 1920px;
  height: 72px;
  top: 0;
  left: 0;
  background-color: var(--dark6-white);
}

.admin-dashboard .line {
  position: absolute;
  width: 1920px;
  height: 1px;
  top: 71px;
  left: 0;
  background-color: var(--line1-line);
}

.admin-dashboard .overlap-group {
  position: absolute;
  width: 135px;
  height: 32px;
  top: 20px;
  left: 1783px;
}

.admin-dashboard .katie-pena {
  position: absolute;
  top: 0;
  left: 40px;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: #202020;
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .user {
  position: absolute;
  width: 135px;
  height: 32px;
  top: 0;
  left: 0;
}

.admin-dashboard .admin {
  position: absolute;
  top: 17px;
  left: 40px;
  font-family: var(--headline-h6-regular-font-family);
  font-weight: var(--headline-h6-regular-font-weight);
  color: var(--dark3-dark);
  font-size: var(--headline-h6-regular-font-size);
  letter-spacing: var(--headline-h6-regular-letter-spacing);
  line-height: var(--headline-h6-regular-line-height);
  font-style: var(--headline-h6-regular-font-style);
}

.admin-dashboard .image {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.admin-dashboard .icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  left: 1735px;
}

.admin-dashboard .overlap-group-2 {
  position: relative;
  width: 25px;
  height: 25px;
  top: -1px;
}

.admin-dashboard .notification {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1px;
  left: 0;
}

.admin-dashboard .ic-notifications {
  position: relative;
  height: 24px;
  top: -3697px;
  left: -1330px;
  background-image: url(./img/bounds.svg);
  background-size: 100% 100%;
}

.admin-dashboard .shape {
  position: absolute;
  width: 17px;
  height: 20px;
  top: 2px;
  left: 4px;
}

.admin-dashboard .shape-2 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 15px;
  background-color: var(--color-sign-alert);
  border-radius: 5px;
  border: 2px solid;
  border-color: var(--dark6-white);
}

.admin-dashboard .ic-help {
  position: absolute;
  width: 24px;
  height: 24px;
  top: -3673px;
  left: 365px;
  background-image: url(./img/image.svg);
  background-size: 100% 100%;
}

.admin-dashboard .img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
}

.admin-dashboard .logo {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  left: 14px;
}

.admin-dashboard .overlap-2 {
  position: relative;
  height: 24px;
  top: -1px;
  left: -1px;
}

.admin-dashboard .shape-3 {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 4px;
  left: 4px;
  background-color: var(--dark6-white);
  border: 1px solid;
  border-color: var(--dark1-dark);
  transform: rotate(45deg);
}

.admin-dashboard .shape-4 {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 11px;
  left: 7px;
  background-color: var(--dark1-dark);
  border: 1px solid;
  transform: rotate(45deg);
  border-color: var(--dark1-dark);
}

.admin-dashboard .shape-5 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 8px;
  left: 8px;
  background-color: #a0a0a0;
  border: 1px solid;
  border-color: var(--dark1-dark);
  transform: rotate(45deg);
}

.admin-dashboard .rhombus {
  position: absolute;
  top: 23px;
  left: 44px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #2e2c34;
  font-size: 21px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.admin-dashboard .sign-in {
  left: -5567px;
  position: absolute;
  width: 1920px;
  height: 900px;
  top: -9688px;
}

.admin-dashboard .forgot-password {
  position: absolute;
  width: 1920px;
  height: 900px;
  top: -9688px;
  left: 2646px;
}

.admin-dashboard .new-password {
  position: absolute;
  width: 1920px;
  height: 900px;
  top: -9688px;
  left: 4699px;
}

.admin-dashboard .sign-in-filled {
  position: absolute;
  width: 1920px;
  height: 900px;
  top: -9688px;
  left: -1461px;
}

.admin-dashboard .sign-up-filled {
  position: absolute;
  width: 1920px;
  height: 900px;
  top: -9688px;
  left: 593px;
}

.admin-dashboard .sign-up {
  left: -3514px;
  position: absolute;
  width: 1920px;
  height: 900px;
  top: -9688px;
}

.admin-dashboard .card {
  position: absolute;
  width: 1514px;
  height: 454px;
  top: 911px;
  left: 204px;
}

.admin-dashboard .overlap-3 {
  position: relative;
  width: 1512px;
  height: 454px;
  background-color: var(--shapecard);
  border-radius: 12px;
  box-shadow: var(--shadow-1-shadow);
}

.admin-dashboard .ic-more-vert {
  position: absolute;
  width: 49px;
  height: 24px;
  top: 32px;
  left: 1398px;
}

.admin-dashboard .top-performance {
  position: absolute;
  width: 405px;
  top: 32px;
  left: 65px;
  font-family: var(--headline-h2-font-family);
  font-weight: var(--headline-h2-font-weight);
  color: var(--dark1-dark);
  font-size: var(--headline-h2-font-size);
  letter-spacing: var(--headline-h2-letter-spacing);
  line-height: var(--headline-h2-line-height);
  font-style: var(--headline-h2-font-style);
}

.admin-dashboard .list {
  position: absolute;
  width: 1447px;
  height: 336px;
  top: 102px;
  left: 32px;
}

.admin-dashboard .group-wrapper {
  top: 48px;
  background-color: var(--dark5-dark);
  position: absolute;
  width: 1447px;
  height: 72px;
  left: 0;
}

.admin-dashboard .group {
  position: relative;
  width: 1340px;
  height: 17px;
  top: 28px;
  left: 41px;
}

.admin-dashboard .text-wrapper {
  position: absolute;
  width: 195px;
  top: 0;
  left: 0;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: #000000;
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .text-wrapper-2 {
  position: absolute;
  width: 86px;
  top: 0;
  left: 381px;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: #000000;
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .text-wrapper-3 {
  position: absolute;
  width: 70px;
  top: 0;
  left: 643px;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: #000000;
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .text-wrapper-4 {
  position: absolute;
  width: 40px;
  top: 0;
  left: 871px;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: #000000;
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .text-wrapper-5 {
  position: absolute;
  width: 122px;
  top: 0;
  left: 1208px;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: #000000;
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .overlap-group-wrapper {
  top: 120px;
  background-color: var(--dark6-white);
  position: absolute;
  width: 1447px;
  height: 72px;
  left: 0;
}

.admin-dashboard .overlap-group-3 {
  position: relative;
  width: 1340px;
  height: 17px;
  top: 28px;
  left: 40px;
}

.admin-dashboard .rate {
  position: absolute;
  width: 32px;
  height: 16px;
  top: 0;
  left: 1267px;
}

.admin-dashboard .shape-6 {
  position: relative;
  width: 34px;
  height: 18px;
  top: -1px;
  left: -1px;
  border-radius: 17.21px / 9px;
  border: 2px solid;
  border-color: var(--dark5-dark);
}

.admin-dashboard .group-2 {
  position: absolute;
  width: 1340px;
  height: 17px;
  top: 0;
  left: 0;
}

.admin-dashboard .text-wrapper-6 {
  position: absolute;
  width: 153px;
  top: 0;
  left: 0;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: #000000;
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .overlap-wrapper {
  top: 192px;
  background-color: var(--dark5-dark);
  position: absolute;
  width: 1447px;
  height: 72px;
  left: 0;
}

.admin-dashboard .overlap-4 {
  position: relative;
  width: 1323px;
  height: 17px;
  top: 28px;
  left: 40px;
}

.admin-dashboard .shape-wrapper {
  position: absolute;
  width: 32px;
  height: 16px;
  top: 0;
  left: 1269px;
}

.admin-dashboard .group-3 {
  position: absolute;
  width: 1323px;
  height: 17px;
  top: 0;
  left: 0;
}

.admin-dashboard .text-wrapper-7 {
  position: absolute;
  width: 209px;
  top: 0;
  left: 0;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: #000000;
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .text-wrapper-8 {
  position: absolute;
  width: 120px;
  top: 0;
  left: 381px;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: #000000;
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .text-wrapper-9 {
  position: absolute;
  width: 84px;
  top: 0;
  left: 643px;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: #000000;
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .text-wrapper-10 {
  position: absolute;
  width: 50px;
  top: 0;
  left: 871px;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: #000000;
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .text-wrapper-11 {
  position: absolute;
  width: 105px;
  top: 0;
  left: 1208px;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: #000000;
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .div-wrapper {
  top: 264px;
  background-color: var(--dark6-white);
  position: absolute;
  width: 1447px;
  height: 72px;
  left: 0;
}

.admin-dashboard .overlap-5 {
  position: relative;
  width: 1359px;
  height: 17px;
  top: 28px;
  left: 40px;
}

.admin-dashboard .group-4 {
  position: absolute;
  width: 1359px;
  height: 17px;
  top: 0;
  left: 0;
}

.admin-dashboard .text-wrapper-12 {
  position: absolute;
  width: 272px;
  top: 0;
  left: 0;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: #000000;
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .text-wrapper-13 {
  position: absolute;
  width: 101px;
  top: 0;
  left: 381px;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: #000000;
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .text-wrapper-14 {
  position: absolute;
  width: 90px;
  top: 0;
  left: 643px;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: #000000;
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .text-wrapper-15 {
  position: absolute;
  width: 41px;
  top: 0;
  left: 871px;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: #000000;
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .text-wrapper-16 {
  position: absolute;
  width: 141px;
  top: 0;
  left: 1208px;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: #000000;
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .title {
  position: absolute;
  width: 1447px;
  height: 48px;
  top: 0;
  left: 0;
}

.admin-dashboard .overlap-6 {
  position: relative;
  height: 48px;
}

.admin-dashboard .base {
  width: 1415px;
  height: 48px;
  left: 16px;
  background-color: var(--dark6-white);
  position: absolute;
  top: 0;
}

.admin-dashboard .line-2 {
  position: absolute;
  width: 1447px;
  height: 1px;
  top: 47px;
  left: 0;
  background-color: var(--line1-line);
}

.admin-dashboard .text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 231px;
  position: absolute;
  top: 16px;
  left: 32px;
}

.admin-dashboard .text-wrapper-17 {
  position: relative;
  width: fit-content;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: var(--dark3-dark);
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .pagination {
  display: inline-flex;
  align-items: center;
  gap: var(--size-space-200);
  position: absolute;
  top: 1390px;
  left: 716px;
}

.admin-dashboard .pagination-previous {
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200) var(--size-space-300) var(--size-space-200)
    var(--size-space-300);
  border-radius: var(--size-radius-200);
  opacity: 0.5;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.admin-dashboard .img-2 {
  position: relative;
  width: 16px;
  height: 16px;
}

.admin-dashboard .previous {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-default-secondary);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.admin-dashboard .pagination-list {
  gap: var(--size-space-200);
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.admin-dashboard .pagination-page {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--size-space-200) var(--size-space-300) var(--size-space-200)
    var(--size-space-300);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-background-brand-default);
  border-radius: var(--size-radius-200);
}

.admin-dashboard .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-brand-on-brand);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.admin-dashboard .element-wrapper {
  flex-direction: column;
  justify-content: center;
  padding: var(--size-space-200) var(--size-space-300) var(--size-space-200)
    var(--size-space-300);
  border-radius: var(--size-radius-200);
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.admin-dashboard .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.admin-dashboard .pagination-gap {
  flex-direction: column;
  justify-content: center;
  padding: var(--size-space-200) var(--size-space-400) var(--size-space-200)
    var(--size-space-400);
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.admin-dashboard .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-base-bold-font-family);
  font-weight: var(--body-base-bold-font-weight);
  color: var(--colors-black-100);
  font-size: var(--body-base-bold-font-size);
  letter-spacing: var(--body-base-bold-letter-spacing);
  line-height: var(--body-base-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-base-bold-font-style);
}

.admin-dashboard .pagination-next {
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200) var(--size-space-300) var(--size-space-200)
    var(--size-space-300);
  border-radius: var(--size-radius-200);
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.admin-dashboard .frame {
  position: absolute;
  width: 930px;
  height: 465px;
  top: 320px;
  left: 923px;
}

.admin-dashboard .vector {
  position: absolute;
  width: 16px;
  height: 22px;
  top: 246px;
  left: 305px;
}

.admin-dashboard .frame-2 {
  display: flex;
  flex-direction: column;
  width: 643px;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: absolute;
  top: 288px;
  left: 204px;
}

.admin-dashboard .form {
  position: relative;
  width: 556px;
  height: 77px;
}

.admin-dashboard .type-your-product-na-wrapper {
  position: absolute;
  width: 554px;
  height: 50px;
  top: 28px;
  left: -1px;
  background-color: var(--dark6-white);
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--form-bordersnormal1);
}

.admin-dashboard .type-your-product-na {
  position: absolute;
  width: 308px;
  height: 17px;
  top: 15px;
  left: 23px;
  font-family: var(--headline-h5-regular-font-family);
  font-weight: var(--headline-h5-regular-font-weight);
  color: var(--dark3-dark);
  font-size: var(--headline-h5-regular-font-size);
  letter-spacing: var(--headline-h5-regular-letter-spacing);
  line-height: var(--headline-h5-regular-line-height);
  font-style: var(--headline-h5-regular-font-style);
}

.admin-dashboard .product-name {
  width: 164px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: var(--dark1-dark);
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .form-2 {
  position: relative;
  width: 554px;
  height: 77px;
}

.admin-dashboard .text-wrapper-21 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--headline-h5-medium-font-family);
  font-weight: var(--headline-h5-medium-font-weight);
  color: var(--dark1-dark);
  font-size: var(--headline-h5-medium-font-size);
  letter-spacing: var(--headline-h5-medium-letter-spacing);
  line-height: var(--headline-h5-medium-line-height);
  font-style: var(--headline-h5-medium-font-style);
}

.admin-dashboard .form-3 {
  position: absolute;
  width: 554px;
  height: 48px;
  top: 29px;
  left: 0;
}

.admin-dashboard .overlap-group-4 {
  position: relative;
  height: 50px;
  top: -1px;
  left: -1px;
  background-color: var(--dark6-white);
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--form-bordersnormal1);
}

.admin-dashboard .ic-down {
  width: 19px;
  left: 523px;
  position: absolute;
  height: 24px;
  top: 12px;
}

.admin-dashboard .select-a-supplier {
  width: 121px;
  position: absolute;
  top: 15px;
  left: 10px;
  font-family: var(--headline-h5-regular-font-family);
  font-weight: var(--headline-h5-regular-font-weight);
  color: var(--dark3-dark);
  font-size: var(--headline-h5-regular-font-size);
  letter-spacing: var(--headline-h5-regular-letter-spacing);
  line-height: var(--headline-h5-regular-line-height);
  font-style: var(--headline-h5-regular-font-style);
}

.admin-dashboard .ic-down-2 {
  width: 14px;
  left: 396px;
  position: absolute;
  height: 24px;
  top: 12px;
}

.admin-dashboard .select-a-type {
  width: 95px;
  position: absolute;
  top: 15px;
  left: 10px;
  font-family: var(--headline-h5-regular-font-family);
  font-weight: var(--headline-h5-regular-font-weight);
  color: var(--dark3-dark);
  font-size: var(--headline-h5-regular-font-size);
  letter-spacing: var(--headline-h5-regular-letter-spacing);
  line-height: var(--headline-h5-regular-line-height);
  font-style: var(--headline-h5-regular-font-style);
}

.admin-dashboard .overlap-group-5 {
  position: relative;
  height: 50px;
  top: -1px;
  left: -1px;
  border-radius: 8px;
}

.admin-dashboard .base-2 {
  position: absolute;
  width: 419px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: var(--dark6-white);
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--form-bordersnormal1);
}

.admin-dashboard .base-3 {
  width: 554px;
  height: 50px;
  left: 0;
  background-color: var(--dark6-white);
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--form-bordersnormal1);
  position: absolute;
  top: 0;
}

.admin-dashboard .ic-down-3 {
  position: absolute;
  width: 14px;
  height: 24px;
  top: 13px;
  left: 397px;
}

.admin-dashboard .select-a-supplier-2 {
  width: 175px;
  position: absolute;
  top: 16px;
  left: 11px;
  font-family: var(--headline-h5-regular-font-family);
  font-weight: var(--headline-h5-regular-font-weight);
  color: var(--dark3-dark);
  font-size: var(--headline-h5-regular-font-size);
  letter-spacing: var(--headline-h5-regular-letter-spacing);
  line-height: var(--headline-h5-regular-line-height);
  font-style: var(--headline-h5-regular-font-style);
}

.admin-dashboard .select-a-supplier-3 {
  width: 163px;
  position: absolute;
  top: 16px;
  left: 11px;
  font-family: var(--headline-h5-regular-font-family);
  font-weight: var(--headline-h5-regular-font-weight);
  color: var(--dark3-dark);
  font-size: var(--headline-h5-regular-font-size);
  letter-spacing: var(--headline-h5-regular-letter-spacing);
  line-height: var(--headline-h5-regular-line-height);
  font-style: var(--headline-h5-regular-font-style);
}

.admin-dashboard .button {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 115px;
  height: 40px;
}

.admin-dashboard .overlap-7 {
  position: relative;
  height: 40px;
}

.admin-dashboard .base-4 {
  width: 104px;
  height: 40px;
  left: 0;
  background-color: var(--brand-color1-primary);
  border-radius: 8px;
  position: absolute;
  top: 0;
}

.admin-dashboard .create-product-wrapper {
  position: absolute;
  width: 108px;
  height: 17px;
  top: 12px;
  left: 7px;
}

.admin-dashboard .create-product {
  position: absolute;
  top: 0;
  left: 7px;
  font-family: var(--headline-h5-semibold-font-family);
  font-weight: var(--headline-h5-semibold-font-weight);
  color: var(--dark6-white);
  font-size: var(--headline-h5-semibold-font-size);
  letter-spacing: var(--headline-h5-semibold-letter-spacing);
  line-height: var(--headline-h5-semibold-line-height);
  font-style: var(--headline-h5-semibold-font-style);
}
