:root {
  --dark3-dark: rgba(137, 137, 137, 1);
  --dark1-dark: rgba(32, 32, 32, 1);
  --dark6-white: rgba(255, 255, 255, 1);
  --line1-line: rgba(220, 220, 220, 1);
  --color-sign-alert: rgba(249, 131, 124, 1);
  --form-bordersnormal1: rgba(220, 220, 220, 1);
  --brand-color1-primary: rgba(119, 93, 166, 1);
  --headline-h5-medium-font-family: "Inter", Helvetica;
  --headline-h5-medium-font-weight: 500;
  --headline-h5-medium-font-size: 14px;
  --headline-h5-medium-letter-spacing: 0px;
  --headline-h5-medium-line-height: normal;
  --headline-h5-medium-font-style: normal;
  --headline-h6-regular-font-family: "Inter", Helvetica;
  --headline-h6-regular-font-weight: 400;
  --headline-h6-regular-font-size: 12px;
  --headline-h6-regular-letter-spacing: 0px;
  --headline-h6-regular-line-height: normal;
  --headline-h6-regular-font-style: normal;
  --headline-h5-regular-font-family: "Inter", Helvetica;
  --headline-h5-regular-font-weight: 400;
  --headline-h5-regular-font-size: 14px;
  --headline-h5-regular-letter-spacing: 0px;
  --headline-h5-regular-line-height: normal;
  --headline-h5-regular-font-style: normal;
  --headline-h5-semibold-font-family: "Inter", Helvetica;
  --headline-h5-semibold-font-weight: 600;
  --headline-h5-semibold-font-size: 14px;
  --headline-h5-semibold-letter-spacing: 0px;
  --headline-h5-semibold-line-height: normal;
  --headline-h5-semibold-font-style: normal;
  --headline-h4-medium-font-family: "Inter", Helvetica;
  --headline-h4-medium-font-weight: 500;
  --headline-h4-medium-font-size: 16px;
  --headline-h4-medium-letter-spacing: 0px;
  --headline-h4-medium-line-height: normal;
  --headline-h4-medium-font-style: normal;
}
