{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href={% static 'entreprise_app/css/globals3.css' %} />
    <link rel="stylesheet" href={% static 'entreprise_app/css/styleguide3.css' %} />
    <link rel="stylesheet" href={% static 'entreprise_app/css/style3.css' %} />
  </head>
  <body>
    <div class="admin-dashboard">
      <div class="div">
        <div class="welcome-back-to-rhom">Bienvenue a votre application</div>
        <div class="hi-katie-pena">Bonjour Safia Tirar</div>
        <div class="div-2">
          <div class="div-2">
            <div class="overlap">
              <div class="line"></div>
              <div class="overlap-group">
                <div class="katie-pena">Safia Tirar</div>
                <div class="user">
                  <div class="admin">Utilisateur</div>
                  <img class="image" src="img/image-2.png" />
                </div>
              </div>
              <div class="icon">
                <div class="overlap-group-2">
                  <div class="notification">
                    <div class="ic-notifications"><img class="shape" src="img/shape.svg" /></div>
                  </div>
                  <div class="shape-2"></div>
                </div>
              </div>
            </div>
            <div class="ic-help"><img class="img" src="img/shape-2.svg" /></div>
          </div>
          <div class="logo">
            <div class="overlap-2">
              <div class="shape-3"></div>
              <div class="shape-4"></div>
              <div class="shape-5"></div>
            </div>
          </div>
          <div class="rhombus">X</div>
        </div>
        <img class="sign-in" src="img/sign-in.png" />
        <img class="forgot-password" src="img/forgot-password.png" />
        <img class="new-password" src="img/new-password.png" />
        <img class="sign-in-filled" src="img/sign-in-filled.png" />
        <img class="sign-up-filled" src="img/sign-up-filled.png" />
        <img class="sign-up" src="img/sign-up.png" />
        <div class="card">
          <div class="overlap-3">
            <img class="ic-more-vert" src="img/ic-more-vert.png" />
            <div class="top-performance">Liste des entreprises</div>
            <div class="list">
              <div class="group-wrapper">
                <div class="group">
                  <div class="text-wrapper">Agriculture Sud Sahara</div>
                  <div class="text-wrapper-2">Agriculture</div>
                  <div class="text-wrapper-3">Tarfaya</div>
                  <div class="text-wrapper-4">SCS</div>
                  <div class="text-wrapper-5">Fatima Zahra</div>
                </div>
              </div>
              <div class="overlap-group-wrapper">
                <div class="overlap-group-3">
                  <div class="rate"><div class="shape-6"></div></div>
                  <div class="group-2">
                    <div class="text-wrapper-6">Artisana Tarfaya</div>
                    <div class="text-wrapper-2">Artisanat</div>
                    <div class="text-wrapper-3">Tarfaya</div>
                    <div class="text-wrapper-4">SCS</div>
                    <div class="text-wrapper-5">Fatima Zahra</div>
                  </div>
                </div>
              </div>
              <div class="overlap-wrapper">
                <div class="overlap-4">
                  <div class="shape-wrapper"><div class="shape-6"></div></div>
                  <div class="group-3">
                    <div class="text-wrapper-7">Boujdour Construction</div>
                    <div class="text-wrapper-8">Construction</div>
                    <div class="text-wrapper-9">Boujdour</div>
                    <div class="text-wrapper-10">SARL</div>
                    <div class="text-wrapper-11">Karim Rami</div>
                  </div>
                </div>
              </div>
              <div class="div-wrapper">
                <div class="overlap-5">
                  <div class="rate"><div class="shape-6"></div></div>
                  <div class="group-4">
                    <div class="text-wrapper-12">Commerce General Laayoune</div>
                    <div class="text-wrapper-13">Commerce</div>
                    <div class="text-wrapper-14">Laayoune</div>
                    <div class="text-wrapper-15">SNC</div>
                    <div class="text-wrapper-16">Salim Moujahid</div>
                  </div>
                </div>
              </div>
              <div class="title">
                <div class="overlap-6">
                  <div class="base"></div>
                  <div class="line-2"></div>
                  <div class="text">
                    <div class="text-wrapper-17">Nom d e l’entreprise</div>
                    <div class="text-wrapper-17">Secteur</div>
                    <div class="text-wrapper-17">Ville</div>
                    <div class="text-wrapper-17">Forme juridique</div>
                    <div class="text-wrapper-17">Contact</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination">
          <div class="pagination-previous">
            <img class="img-2" src="img/arrow-left.svg" />
            <div class="previous">Avant</div>
          </div>
          <div class="pagination-list">
            <div class="pagination-page"><div class="text-wrapper-18">1</div></div>
            <div class="element-wrapper"><div class="text-wrapper-19">2</div></div>
            <div class="element-wrapper"><div class="text-wrapper-19">3</div></div>
            <div class="pagination-gap"><div class="text-wrapper-20">...</div></div>
            <div class="element-wrapper"><div class="text-wrapper-19">67</div></div>
            <div class="element-wrapper"><div class="text-wrapper-19">68</div></div>
          </div>
          <div class="pagination-next">
            <div class="text-wrapper-19">Suivant</div>
            <img class="img-2" src="img/arrow-right.svg" />
          </div>
        </div>
        <div class="frame"><img class="vector" src="img/vector.svg" /></div>
        <div class="frame-2">
          <div class="form">
            <div class="type-your-product-na-wrapper">
              <p class="type-your-product-na">Tapez le nom de votre entreprise</p>
            </div>
            <div class="product-name">Nom d‘entreprise</div>
          </div>
          <div class="form-2">
            <div class="text-wrapper-21">Secteur</div>
            <div class="form-3">
              <div class="overlap-group-4">
                <img class="ic-down" src="img/ic-down-3.png" />
                <div class="select-a-supplier">Tapez le secteur</div>
              </div>
            </div>
          </div>
          <div class="form-2">
            <div class="text-wrapper-21">Ville</div>
            <div class="form-3">
              <div class="overlap-group-4">
                <img class="ic-down-2" src="img/ic-down.png" />
                <div class="select-a-type">Tapez le ville</div>
              </div>
            </div>
          </div>
          <div class="form-2">
            <div class="text-wrapper-21">Forme juridique</div>
            <div class="form-3">
              <div class="overlap-group-5">
                <div class="base-2"></div>
                <div class="base-3"></div>
                <img class="ic-down-3" src="img/ic-down-2.png" />
                <div class="select-a-supplier-2">Tapez la forme juridique</div>
              </div>
            </div>
          </div>
          <div class="form-2">
            <div class="text-wrapper-21">Certifications</div>
            <div class="form-3">
              <div class="overlap-group-5">
                <div class="base-2"></div>
                <div class="base-3"></div>
                <img class="ic-down-3" src="img/image.png" />
                <div class="select-a-supplier-3">Tapez la Certifications</div>
              </div>
            </div>
          </div>
          <button class="button">
            <div class="overlap-7">
              <div class="base-4"></div>
              <div class="create-product-wrapper"><div class="create-product">recherche</div></div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>